.header{
    box-shadow: 2px -2px 16px 0px #ccc;
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.headerWrap{
    display: flex;
    align-items: center;
}
.headerWrap div{
    padding: 0 8px;
 }

 .loginBac{
     height: calc(100vh - 75px);
     background-image: url('../../public/images/login/register.jpg');
     background-size: cover;
 }